insert into employee(salutation, first_name, last_name, job_id, job_loc_id, status) values ('Mr.','Jeffrey','Martin',1001,101,'True');
insert into employee(salutation, first_name, last_name, job_id, job_loc_id, status) values ('Mrs','Andy','Jones',1013,113,'True');

